/* Media - Queries */ 

/* Tablet */ 
@media screen and (max-width: 1025px)  {

    .nav-left h1 {
        font-size: 2.4rem !important;
    }

    .main {
        width: 90%;
    }

    .featured-article h1 {
        font-size: 2.2rem;
    }

    .article {
        margin-bottom: 20px;

        h2 {
            font-size: 1.7rem;
        }
    }

    .article-skeleton {
        margin-bottom: 20px;
    }


    .smaller-articles {
        flex-direction: column;

    }


    .article {
        width: 95%;
        margin: 30px auto;

        .text-content {
            width: 90%;
        }

        h1 {
            font-size: 2.2rem;
        }

        p {
            font-size: 1.1rem;
        }
    }

/*Image - Variations */
.centered-image-article img {
    max-height: 35vh;
    margin-bottom: 20px;
}

.left-image-article,  .right-image-article{
    flex-direction: column;
    align-items: center;


    img {
        width: 100%;
        height: auto;
        max-height: 35vh;
        margin-bottom: 20px;
        }
    }
}

/* Smartphone Vertical */ 
@media screen and (max-width: 600px){

    /*Navbar mobile*/
    #navbar { 
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px 5%;    
    }

    .nav-right a {
        margin-left: unset;
        margin-right: 20px;
        }

    article, .text-content{
        width: 100%;
        margin: 30px auto;
    } 

    article .text-content {
        width: 40ch;
    }
    

    article h1 {
        font-size: 2.5rem;
    }

    article h2 {
        margin: 12px 0;
        font-size: 2.0rem;
    }

    p {
        font-size: 1.7rem;
    }

}

