/* Media - Queries */ 

/* Tablet */ 
@media screen and (max-width: 1025px) {

    .nav-left h1 {
        font-size: 2.4rem !important;
    }

    .main {
        width: 90%;
    }

    .featured-article h1 {
        font-size: 2.2rem;

        &-skeleton {
            margin-bottom: 10px;
        }
    }

    .article {
        width: 95%;
        margin-bottom: 20px;

        .text-content {
            width: 90%;
        }

        h1{
            font-size: 2.2rem;
        }

        h2 {
            font-size: 1.7rem;
        }
        p {
            font-size: 1.1rem;
        }
    }


    .smaller-articles {
        @include flex-center;
        flex-direction: column;

        
    }

    /*Variations */
.centered-image-article img {
    width: 100%;
    max-height: 45vh;
    margin-bottom: 30px;
}

.left-image-article,  .right-image-article{
    flex-direction: column;
    align-items: center;


    img {
        width: 115%;
        height: auto;
        max-height: 35vh;
        margin-bottom: 20px;
    }
}



}

/* Smartphone Vertical */ 
@media screen and (max-width: 600px){

    /*Navbar mobile*/
    #navbar { 
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px 5%;

        .nav-left h1 {
        font-size: 2.4rem;
        }

        .nav-right a {
        margin-left: unset;
        margin-right: 20px;
        }
    }

    article, .text-content{
        width: 100%;
        margin: 30px auto;
    } 

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        margin: 12px 0;
    }

    p {
        font-size: 1.8rem;
    }

}

