html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-stack;
    color: rgb(33, 33, 33);
    line-height: 1.6;
    
} 

body {
    background-color: var(--background);
    min-height: 100vh;
    font-size: 1.6rem;
}

strong {
    color: var(--secondary--font-color);
}