html {
    font-size: 62.5%;
}

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}


article {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-content {
    width: 75ch;
    margin: auto 20px;

}

img {
    object-fit: cover;
    width: 500px;
    height: 700px;
}

h1 {
    font-size: 4.0rem;
    margin: 20px 0;
}

h2 {
    font-size: 2.4rem;
    margin: 20px 0
}

p, li {
    font-size: 1.92rem;
    color:rgb(85, 85, 85)
}

/*Variations */
.centered-image-article img {
    width: 100%;
    max-height: 45vh;
    margin-bottom: 30px;
}

.left-image-article {
    flex-direction: row;
    align-items: flex-start;
}

.right-image-article{
    flex-direction: row-reverse;
    align-items: start;
}

/* Tablet */
@media screen and (max-width: 1025px) {
    
    
    article {
        width: 95%;
        margin: 30px auto;
        
    }

    .text-content {
        width: 90%;
        
    }

    h1 {
        font-size: 3.52rem;
    }

    h2 {
        margin: 12px 0;
    }

    p {
        font-size: 1.8rem;
    }

    .centered-image-article img {
        max-height: 35vh;
        margin-bottom: 20px;
    }

    .left-image-article, .right-image-article {
        flex-direction: column;
        align-items: center;
    }

    .left-image-article img, .right-image-article img {
        width: 100%;
        height: auto;
        max-height: 35vh;
        margin:20px;
    }
    
    
}


/* Smartphone Vertical */ 
@media screen and (max-width: 600px){

    article, .text-content{
        width: 100%;
        margin: 30px auto;
    } 

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        margin: 12px 0;
    }

    p {
        font-size: 1.6rem;
    }


    

}